.navbar-fixed-top {
    min-height: 85px;
    background: #f3f9fe;
    border: 0;
}

.navbar-brand {
    margin: 7px 0px 0px 0px !important;
}

.navbar-nav.navbar-right>li>a {
    font-size: 11.2px;
    color: #0d0b0b;
    font-family: Arial LatRus Regular;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 7px;
    background: transparent;
    border: 1px solid #77c0fc;
    border-radius: 3px;
    margin-left: 5px;
}

.navbar-nav.navbar-right>li>a:hover {
    color: #0d0b0b;
    border-color: #7fa4c3;
    background: transparent;
}

.btn-200 {
    width: 200px;
}

.text-bold {
    font-weight: bold;
}

.text-light {
    font-weight: lighter;
}

.text-italic {
    font-style: italic;
}

.text-justify {
    text-align: justify;
}

.subtitle {
    margin-top: 0;
}

span.required, span.error, div.errorMessage {
    color: #b94a48;
}

.block-center {
    margin: 0px auto;
    display: block;
}

.block-left {
    float: left;
    display: block;
}

.block-right {
    float: right;
    display: block;
}

.padding-none {
    padding: 0px !important;
}

.margin-none {
    margin: 0px !important;
}

.bs-docs-section {
    padding-bottom: 20px;
}

.margin-top-95 {
    margin-top: 95px;
}

footer {
    background-color: #0e3454;
    border-bottom: 1px solid #577188;
    height: 120px;
}

p.copyryght {
    color: #cacaca;
    line-height: 120px;
    font-size: 10.4px;
    font-family: Source Sans Pro Regular;
    margin: 0;
}

.padding-top-20 {
    padding-top: 20px;
}

.bg-centered-icon {
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn.btn-dark-blue {
    background-color: #004985;
    padding: 10px 60px;
    color: #fefefe;
    font-size: 16px;
    font-family: Arial Regular;
    display: inline;
    border-radius: 6px;
    border: 1px solid #ccdbe7;
}

.btn.btn-white {
    padding: 5.5px 55px;
    border: 1px solid #1b74ad;
    color: #1b74ad;
    float: right;
    border-radius: 2px;
    font-family: Arial Regular;
    font-size: 18px;
}