::-webkit-input-placeholder { color:#7e7e7e; font-size: 16px; }
::-moz-placeholder { color:#7e7e7e; font-size: 16px; } /* firefox 19+ */
:-ms-input-placeholder { color:#7e7e7e; font-size: 16px; } /* ie */
input:-moz-placeholder { color:#7e7e7e; font-size: 16px;}
.navbar-fixed-top {
    min-height: 85px;
    background: url(../img/header_bg.png) 0 0 repeat;
    border: 0;
}
.no-padd{
    padding: 0 !important;
    box-sizing: border-box;
}
.no-padd-left{
    padding-left: 0 !important;
}
.rel{
    position: relative;
}
.W90{
    width: 90%;
    margin: auto;
}
.bg-light-gray{
    background: #f5f5f5;
}

ul{
    list-style-image: url(../img/bullet.jpg);
}

.navbar-brand {
    
}

.navbar-nav.navbar-right>li>a {
    font-size: 11.2px;
    line-height: 12px;
    color: #0d0b0b;
    font-family: Arial LatRus Regular;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 20px;
    background: transparent;
    border: 1px solid #77c0fc;
    border-radius: 3px;
    margin-left: 5px;
}

.navbar-nav.navbar-right>li>a:hover {
    color: #0d0b0b;
    border-color: #7fa4c3;
    background: transparent;
}

.btn-200 {
    width: 200px;
}

.text-bold {
    font-weight: bold;
}

.text-light {
    font-weight: lighter;
}

.text-italic {
    font-style: italic;
}

.text-justify {
    text-align: justify;
}

.subtitle {
    margin-top: 0;
}

span.required, span.error, div.errorMessage {
    color: #b94a48;
}

.block-center {
    margin: 0px auto;
    display: block;
}

.block-left {
    float: left;
    display: block;
}

.block-right {
    float: right;
    display: block;
}

.padding-none {
    padding: 0px !important;
}

.margin-none {
    margin: 0px !important;
}

.bs-docs-section {
    padding-bottom: 20px;
}

.margin-top-95 {
    margin-top: 95px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-left-5p {
    margin-left: 5%;
}
footer {
    background-color: #0e3454;
    border-bottom: 1px solid #577188;
    height: 120px;
}

p.copyryght {
    color: #cacaca;
    line-height: 120px;
    font-size: 10.4px;
    font-family: Source Sans Pro Regular;
    margin: 0;
}

.padding-top-20 {
    padding-top: 20px;
}

.bg-centered-icon {
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.auth_block{
    background: url(../img/auth_bg.png) 0 0 no-repeat;
    background-size: cover;
    padding-top: 80px;
    min-height: 600px;
}
.auth_block h1.page_title{
    padding: 50px 0 5px 0;
    margin: 0;
    font-size: 1.8em;
    text-align: center;
}
.auth_block .page_sub_title{
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 20px;
}
.auth_inner_bg{
    background: url(../img/auth_inner_bg.png) 0 0 repeat;
    border: 1px solid #fff;
    margin-bottom: 50px;
}
.auth_inner_bg.alert_message{
    margin-top: 20px;
    font-size: 16px;
}
.auth_inner_bg.alert_message .panel-body {
    padding: 50px 0 50px 0;
    width: 80%;
    text-align: left;
}
.auth_block .panel-body{
    padding: 50px 0 20px 0;
    width: 70%;
    margin: 0 auto;
}
.auth_inner_bg .form-group {
    margin-bottom: 20px;
}
.auth_inner_bg .form-group input:not([type='submit']) {
    background: none;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #545454;
    border-radius: 0;
    padding: 0;
}
.auth_inner_bg .form-group input[type='submit']{
    background: #115e9c;
    border-radius: 0;
    font-size: 18px;
    padding: 15px 40px;
    line-height: 15px;
    margin-top: 50px;
    -webkit-box-shadow: -3px -3px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px -3px 5px -3px rgba(0,0,0,0.75);
    box-shadow: -3px -3px 5px -3px rgba(0,0,0,0.75);
    border: 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}


.pageContent{
    min-height: 600px;
}
.page-header-block.medicine{
    background: url(../img/medicine_top_bg.jpg) 0 0 no-repeat;
    background-size: 100% auto;
    min-height: 210px;
    margin-top: 85px;
    position: relative;
}
.page-header-block.medicine .header-links{
    list-style-type: none;
    text-align: center;
    padding-top: 140px;
    margin: 0;
}
.page-header-block.medicine .header-links li{
    display: inline-block;
}
.page-header-block.medicine .header-links li a{
    background: #fff;
    border: 1px solid #004985;
    border-radius: 3px;
    color: #004985;
    margin: 0 5px;
    min-width: 190px;
    padding: 8px;
    display: inline-block;
}
.page-header-block.medicine .header-links li.active a,
.page-header-block.medicine .header-links li a:hover{
    background: #185890;
    text-decoration: none;
    color: #fff;
}
.page-inner-content{
    line-height: 23px;
}
.page-inner-content h1 {
    font-size: 1.9em;
    margin: 50px 0;
}
.page-inner-content h3{
    margin: 50px 0;
    color: #000;
    font-size: 1.3em;
}

.content-row .pull-right.text-img{
    margin-left: 30px;
}
.content-row .pull-left.text-img{
    margin-right: 30px;
}
.content-row{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.page-light-bg{
    background: url(../img/page_light_bg.jpg) 0 0 no-repeat;
    background-size: cover;
}

.page-inner-content .page-light-bg{
    padding: 50px 0 20px 0;
    
}
.page-inner-content .page-light-bg h2{
    margin: 0 0 50px 0;
    color: #000;
    font-size: 1.8em;
}
.page-inner-content .page-light-bg li{
    margin-bottom: 10px;
    list-style-type: square;
}

.paddTB-50{
    padding: 50px 0;
}
.page-inner-content .action-buttons{
    text-align: center;
    margin: 50px 0 0 0;
}
.page-inner-content .action-buttons .btn-primary{
    background: #004985;
    border: none;
    padding: 6px 30px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.1em;
}
ul.projects{
    margin-left: 60px;
    font-weight: bold;
    font-size: 1.1em;
}
ul.projects li{
    margin-bottom: 10px;
    list-style-type: square;
}
.projects-video{
    margin: 30px 0 50px;
}

.marketing-plan{
    margin-bottom: 35px;
    text-align: center;
}
.marketing-plan h1{
    font-size: 1.9em;
    padding: 0;
    margin: 30px 0;
}
.marketing-plan .text{
    font-size: 1.15em;
}
.marketing-plan span.bold{
    color: #004985;
    font-weight: bold;
}
.marketing.page-inner-content .page-light-bg h2{
    margin: 0 10% 50px 10%;
    color: #000;
    font-size: 1.2em;
}
.marketing.page-inner-content .page-light-bg ul{
    font-size: 13px;
}

.text-carusel-1,
.text-carusel-2{
    margin-top: -50px;
}
.text-carusel-1{
    display: inline-block;
    text-align: left;   
}
.text-carusel-2{
    padding-left: 16px;
}
.text-carusel-1 .red-text,
.text-carusel-2 .red-text{
    color: #df3b46;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.text-carusel-1 > div,
.text-carusel-2 > div{
    margin-bottom: 10px;
}
.carusel-rel{
    position: relative;
}
.carusel-rel .red-arrow{
    position: absolute;
    right: -20px;
    top: 40%;
}
.carousel h3{
    color: #1b74ad;
    font-size: 1.5em;
    text-align: center;
    margin: 50px 0 20px 0;
}
.carusel-description h3{
    color: #1b74ad;
    font-size: 1.4em;
     margin: 50px 0 20px 0;
}
.marketing.bg-light-gray{
    margin: 50px 0;
}

/*Certificate page styles*/
.certificate_link {
    padding-top: 20px;
}
.certificate_link h3{
    color: #1b74ad;
    font-size: 18px;
    padding: 0 0 5px 0;
    margin: 0;
}
.certificate_link .form{
    display: inline-block;
    width: 100%;
}
.certificate_link .link{
    width: 65%;
    float: left;
}
.certificate_link .link input{
    width: 100%;
    padding: 10px;
    height: 40px;
}
.certificate_link .button{
    width: 35%;
    float: left;
    text-align: right;
}
.certificate_link .button input{
    width: 90%;
    padding: 10px;
    height: 40px;
}
.certificate_link .form .btn-invite{
    margin-left: 15px;
    height: 40px;
    border: 1px solid #1b74ad;
    background: none;
    color: #1b74ad;
    text-transform: uppercase;
    font-size: 18px;
}
.certificate_projects h2{
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}
.certificate_projects .certificate{
    border-radius: 0 !important;
    border: 1px solid #ded5d5;
    min-height: 270px;
    padding: 15px;
    position: relative;
    margin-bottom: 20px;
}
.certificate_projects .certificate:nth-child(even){
    margin-right: 6%;
}
.certificate_projects .header-box{
    
}
.certificate_projects .header-box .unit{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #f6f6f6;
    padding: 5px 15px;
    border: 1px solid #dfdbdb;
}
.certificate_projects .header-box .unit span{
    font-weight: bold;
    font-size: 1.3em;
}
.certificate_projects .header-box h4{
    width: 150px;
    height: 40px;
}
.certificate_projects .header-box h4.fpa{
    background: url(../img/icons/icon-fpa.png) 0 0 no-repeat;    
}
.certificate_projects .header-box h4.fpe{
    background: url(../img/icons/icon-fpe.png) 0 0 no-repeat;
}
.certificate_projects .header-box h4.fpm{
    background: url(../img/icons/icon-fpm.png) 0 0 no-repeat;
}
.certificate_projects .header-box h4.mbo{
    background: url(../img/icons/icon-fpo.png) 0 0 no-repeat;
}
.certificate-title{
    color: #1b74ad;
    font-size: 18px;
    margin-top: 35px;
    padding: 0;
}
.certificate-descripton{
    height: 100px;
    overflow: hidden;
    margin-top: 10px;
}
.btn-certificate-choose{
    background: #004985;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 8px 50px;
    border-radius: 3px;
}
.btn-certificate-choose:hover{
    color: #fff;
}


/*MARKETING_PAGE*/


.carusel-img img {
    /*width: 100%;
    height: auto;*/
    width: 250px;
    height: 234px;
}

.red-arrow {
    text-align: center;
    margin-top: 15%;
}

.text-carusel-1 {
    margin-top: 45%;
}

.carousel ul {
    padding: 0;
}

.carousel ul li {
    list-style: none;
}

.read-more a {
    display: block;
    width: 205px;
    height: auto;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 12px;
    color: #004985;
    font-family: Arial LatRus Regular;
    padding: 10px 20px;
    margin: 40px auto;
    background: transparent;
    border: 1px solid #5b9bc3;
    border-radius: 3px;
}

section.bg-light-gray h3 {
    color: #004985;
    padding: 25px 0;
}

.apt {
    text-align: center;
    padding: 30px 0;
}

.apt p {
    font-family: arial-bold;
    font-size: 16px;
    color: #000;
}

.apt p span {
    font-size: 20px;
    color: #176ab0;
}

.passive h3 {
    margin: 40px 0;
}

.passive-profy a {
    display: block;
    margin: 25px 0;
}

.passive-profy-more {
    padding: 30px 0;
}

.passive-info {
    margin-bottom: 30px;
}

.passive-info p {
    line-height: 20px;
    font-size: 14px;
    font-family: arial-regular;
    color: #4e4e4e;
}
    
/*.carusel-rel h3, .carusel-rel h3 p {
    text-align: right;
}

.carusel-rel h3, .carusel-rel>div {
    padding-right: 10%;
}

.carusel-rel>h3>span {
    margin-right: 10%;
}

.carusel-rel-right h3, .carusel-rel-right h3 p {
    text-align: left;
}

.carusel-rel-right h3, .carusel-rel-right>div {
    padding-left: 10%;
}

.carusel-rel-right>h3>span {
    margin-left: 12%;
}
*/
