@media screen and (max-width: 1000px) {
    ul.point-list>li {
        width: 100%;
        float: none;
    }
    
    .w-user-amount-nav {
        float:left !important;
        padding-left: 15px;
    }
}